.assignment  {
    display :flex; 
    padding: 20px;
    
    
}

.assignment img {
   
    border: 5px solid #555;
    width: 400px;
    padding: 10px;
    margin-right: 25px;
    box-shadow: 5px 10px gray;
    

  }

  h1 {
      text-align: center;
      color: #E61031;
      text-decoration-line: underline;
      text-decoration-color: #005BAD;
  }

  a {
      text-decoration:none;
      color:#005BAD;
  }

